@font-face {
    font-family: 'Japan';
    src: url('font.ttf');
}

body {
    font-family: Japan;
}

#logo {
    width: 20%;
}
header {
    width: 79%;
    display: inline-block;
}

table, td, th {
    
}